body{
    padding: 0;
    margin: 0;
}
nav
{
    background-color: black;
    color: white;
    padding: 20 50;   
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.search
{
    display: flex;
    align-items: center;
    background-color: gray;
    padding:10px 20px;
    border-radius: 10px;
    
}
.searchInput{
   border: none;
   background-color: transparent;   
}

.searchInput::placeholder{
    color:lightgray
}

.limitedOffer {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;

}
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin-right: 50;
    cursor: pointer;
    color :lightgray;
    font-weight: 400;

}
.slider {
    background: url("https://images.unsplash.com/photo-1685083036312-0cdf1b621c1f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdhbGwlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww");
    background-size: cover;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.sliderItem
    {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position:relative;

    }

    .sliderpg{
        width: 750px;
        height: 750px;
        border-radius: 50%;
        background-color:green;
        position: absolute;
    }

    .sliderimg{
        z-index: 1;
    }

    .sliderTitle{
        text-align: center;
        font-weight: 900;
        font-size: 60;
        position: absolute; 
        color:white;
        top:10%;
        right :10%;
        border:1px;
        z-index: 1;

    }
    .sliderPrice{
        text-align: center;
        font-weight: 300;
        font-size: 60;
        position: absolute; 
        color:white;
        top:10%;
        left :10%;
        border:1px solid gray;
        z-index: 1;


    }
    .buyButton{
        cursor: pointer;
        font-weight: 900;
        font-size: 40;
        position: absolute; 
        color:white;
        top:50%;
        right :10%;
        border:1px solid gray;
        z-index: 1;
        background-color:black;


    }
    .buyButton:hover{
        background-color:white;
        color:black;
    }
    .sliderItem:nth-child(1) .sliderpg{
        background-color: blue;
    }
    .sliderItem:nth-child(2) .sliderpg{
        background-color: green;
    }
    .sliderItem:nth-child(3) .sliderpg{
        background-color: yellow;
    }
    .sliderItem:nth-child(4) .sliderpg{
        background-color: cyan;
    }
    .sliderItem:nth-child(5) .sliderpg{
        background-color: red;
    }
    .sliderItem:nth-child(1) .sliderPrice{
        background-color: blue;
    }
    .sliderItem:nth-child(2) .sliderPrice{
        background-color: green;
    }
    .sliderItem:nth-child(3) .sliderPrice{
        background-color: yellow;
    }
    .sliderItem:nth-child(4) .sliderPrice{
        background-color: cyan;
    }
    .sliderItem:nth-child(5) .sliderPrice{
        background-color: red;
    }

    .features
    {
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 50px 100px;
    }

    .feature{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .featureTitle{
        font-size: 20;
        font-weight: 600;
        margin: 20px;
    }
    .featureDesc{
        color:gray;
        width: 50%;
        height: 100px;
        
    }
    .product{
        height: 100vh;
        background-color: cyan;
        position: relative;
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    }
    .productImg{
        width:50%;
        
    }
    .productDetails{
        position: absolute;
        top: 10%;
        right: 0;
        width: 40%;
        padding :50px;
    }
    .productTitle{
        font-size: 75;
        font-weight: 900;
        /* margin: 20px; */
    }
    .productPrice{
        display: inline;
        background-color:black;
        padding:5px;
        border-radius: 5px;
        color:white;
       
        margin: 20px solid black;
    }
    .productPrice:hover{
        background-color:green;
        color:pink;
    }
    .productDesc{
        font-size: 24px;
        color:gray;
    }
    .colors,.sizes
    {
        display: flex;
        margin-bottom: 20px;
        
        
    }
    .color{
        width: 30px;
        height: 30px;
        border-radius: 20px;
        background-color:red;
        margin-right: 10px;
        cursor: pointer;

    }
    .color:last-child{
        background-color: darkblue; 
    }
    .size{
        padding: 5px 20px;
        border: 1px solid black;
        border-radius:10px;
        margin-right: 10px;
        cursor: pointer;
        font-size: 20px;


    }
    .size:hover{
        background-color: black;
        color:white;
    }
    .productButton{
        border: 1px solid black;
        float: right;
        padding: 10px 20px;
        background-color: black;
        color: white;
        font-weight: 600;
        cursor: pointer;
    }
    .productButton:hover{
        background-color: white;
        color: black;
        border-color: black;
    }


        
    

